[Unit]
Description=gamma adjustments for Wayland
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/wlsunset -t 5200
Restart=always

[Install]
WantedBy=graphical-session.target
